.name{
    font-size: 30px;
    font-weight: 600;
}

.temp{
    font-size: 50px;
    font-weight: bold;
    
}

.weather{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 150px;
    max-height: 150px;
    min-width: 50;
    flex-shrink: 0;


}

.container{
    display: flex;
    gap: 80px;
    padding: 20px;
}

.condition{
    text-align: center;
    margin-top: 10px;
}



@media (max-width: 520px) {
    .forecast{
        margin-left: 135px;
    }

    .weather img{
      max-width: 130px;
      height: auto;
    }

    .container{
        gap: 40px;
    
    }
    .name{
        font-size: 20px;
        font-weight: 600;
    }
    
    .temp{
        font-size: 40px;
        font-weight: bold;
        
    }

    .info{
        font-size: 14px; 
    }
    

}